<footer id="down" class="columnContainer">
  <ul class="links rowContainer">
    <li class="marginMedium"><a class="link" href="#myself">Who I am</a></li>
    <li class="marginMedium"><a class="link" href="#tech">Techs</a></li>
    <li class="marginMedium">
      <a class="link" href="#experiences">My experiences</a>
    </li>
    <li class="marginMedium">
      <a class="link" href="#skills">Soft & Hard skills</a>
    </li>
    <li class="marginMedium">
      <a class="link" href="#languages">My language skills</a>
    </li>
    <li class="marginMedium">
      <a class="link" href="#projects">My projects</a>
    </li>
  </ul>
  <div>
    <a
      href="#"
      class="goUpLink rowContainer"
      [@goUp]="goUpState"
      (click)="goUpPressed()"
      (@goUp.done)="goUpPressed()"
      ><button class="goUp">Go up</button>
    </a>
  </div>
</footer>
