footer {
  padding: 5vw;
  background-color: rgba(19, 12, 39, 0.8);
}
.links {
}
li {
  margin: 1vw;
  transition: opacity 0.2s ease;
}
a,
a:visited {
  color: rgb(238, 238, 238);
  text-shadow: 0px 0px 1px #eeeeee;
}
li:hover {
  opacity: 0.6;
}
.goUp {
  color: rgb(238, 238, 238);
  text-shadow: 0px 0px 1px #eeeeee;
  border: none;
  cursor: pointer;
  background: transparent;
}
.goUpLink {
  align-self: flex-end;
  justify-content: center;
  position: relative;
  box-shadow: 2px 2px 5px 1px #202020;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  cursor: pointer;
  background: rgb(90, 136, 126);
}
.goUp > a {
  color: rgb(233, 233, 233);
  text-shadow: 0px 0px 1.5px #ececec;
}
