<header class="header">
  <div class="imgAndTitle">
    <div id="home" class="bannerTitle">Welcome to my personal page!</div>
    <div>
      <app-close-and-edit
        *ngIf="loggedIn"
        class="closeAndEdit"
        (onEdit)="editUser = !editUser"
      ></app-close-and-edit>
      <div *ngIf="!editUser" class="userInfo">
        <img
          id="myself"
          class="profileImg"
          [src]="profileImgSrc"
          alt="Profile image"
        />
        <span class="name darkFont">{{ firstName + " " + lastName }}</span>
      </div>
      <div *ngIf="loggedIn && editUser" class="imgInputContainer">
        <input
          [(ngModel)]="profileImgSrc"
          (change)="onProfileImgChange.emit(profileImgSrc)"
        />
        <input
          (change)="onNameChange.emit({firstName, lastName})"
          [(ngModel)]="firstName"
        />
        <input
          (change)="onNameChange.emit({firstName, lastName})"
          [(ngModel)]="lastName"
        />
      </div>
    </div>
  </div>
</header>
