<header class="header">
  <div class="imgAndTitle">
    <div id="home" class="bannerTitle">Welcome to my personal page!</div>
    <div>
      <app-close-and-edit
        class="closeAndEdit"
        (onEdit)="editUser = !editUser"
      ></app-close-and-edit>
      <div *ngIf="!editUser" class="userInfo">
        <ng-container *ngIf="profileImgSrc"
          ><img
            id="myself"
            class="profileImg"
            [src]="profileImgSrc"
            alt="Profile image"
          />
          <span class="name darkFont">{{
            firstName + " " + lastName
          }}</span></ng-container
        >
        <app-loading-icon
          class="loadingIcon"
          *ngIf="!profileImgSrc"
        ></app-loading-icon>
      </div>
      <div *ngIf="editUser" class="imgInputContainer">
        <input
          [(ngModel)]="profileImgSrc"
          (change)="onProfileImgChange.emit(profileImgSrc)"
        />
        <input
          (change)="onNameChange.emit({firstName, lastName})"
          [(ngModel)]="firstName"
        />
        <input
          (change)="onNameChange.emit({firstName, lastName})"
          [(ngModel)]="lastName"
        />
      </div>
    </div>
  </div>
</header>
