.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 60vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(0, 0, 0, 0)),
    url("../../../assets/img/banner3.jpg");
  background-size: 100% 100%;
  text-shadow: 0.8px 0.8px rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 1px #363636;
}
.imgAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  top: 15vh;
}
.bannerTitle {
  margin-bottom: 50px;
  text-align: center;
  font-size: xx-large;
  color: rgb(218, 218, 218);
  font-family: Comfortaa;
  text-shadow: inherit;
}

.profileImg {
  max-width: 30vh;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #08001e;
}
.imgInputContainer {
  display: flex;
  flex-direction: column;
  width: 30vh;
  height: 30vh;
}
@media (max-width: 850px) {
  .header {
    align-items: center;
  }
  .imgAndTitle {
    flex-direction: column;
    align-items: center;
  }
}
