<hr class="personalInfoLine" />
<div class="personalInfo rowContainer">
  <div class="aboutMe columnContainer">
    <p class="aboutMeTitle darkFont fontMedium">I'm a web developer</p>
    <p class="description darkFont paddingSmall">
      I discovered -not so long ago- the programming world through
      microntrollers using the legendary C language, which from I developed a
      passion for automating and problem solving.
    </p>
  </div>
</div>
<div class="columnContainer">
  <div class="techImagesTitleBox rowContainer">
    <hr class="techLine" />
    <p class="techImagesTitle darkFont fontMedium">
      Some technologies I am familiar with
    </p>
  </div>
  <div
    #techImagesNode
    class="techImages rowContainer paddingMedium"
    (wheel)="onWheel($event)"
  >
    <img
      *ngFor="let img of techImages"
      [src]="img"
      class="techImage paddingMedium marginSmall"
    />
  </div>
</div>
