.aboutMeContainer {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.aboutMeTitle {
  position: relative;
  padding-top: 10px;
  margin: 2vh 0 4vh;
  text-align: center;
}
.aboutMeTitle::before {
  content: "";
  position: absolute;
  left: -73%;
  width: 167%;
  border-top: 3px solid #363636;
  top: 0vh;
}
.personalInfo {
  align-self: flex-start;
  width: 50%;
  margin: 0 0 15vh 5vw;
}
.description {
  font-weight: 500;
  text-align: left;
}
.descriptionInput {
  height: 80px;
  padding: 2px;
  font-size: larger;
  resize: vertical;
}
.techContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.techImagesTitle {
  align-self: flex-end;
  position: relative;
  width: max(70vw, 40vh);
  padding-top: 10px;
  margin-bottom: 4vh;
}
.techImagesTitle::before {
  content: "";
  position: absolute;
  left: 2%;
  top: 0;
  width: 91%;
  border-top: 3px solid #363636;
}

.techImages {
  display: flex;
  overflow: auto;
  width: 95%;
  margin-bottom: 6vh;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior-block: contain;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.techImageContainer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 8.55vw;
  height: 8.55vw;
  margin: 1vw;
  padding: max(1.5vw, 2vh);
  border-radius: 150% 100% / 10% 40%;
  box-shadow: 0px 0px 5px 0px #08001e;
}
.techFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin: 1vw;
  padding: max(1.5vw, 2vh);
  border-radius: 150% 100% / 10% 40%;
  box-shadow: 0px 0px 5px 0px #08001e;
}
.techImage {
  max-width: 100%;
}
.techImageLogged {
  height: 8.55vw;
}
.listEnd {
  border-right: 3px solid black;
}
.extraTechs {
  display: flex;
}
.newTechContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}
.loadingIcon {
  align-self: center;
  margin: 50px;
}
@media (max-width: 850px) {
  .aboutMeTitle::before {
    left: -22%;
    width: 115%;
  }
  .techImageContainer {
    width: 15vw;
    height: 15vw;
    margin: 2vw;
  }
  .extraTechs {
    display: none;
  }
}
@media (max-width: 650px) {
  .personalInfo {
    align-self: center;
    width: 80%;
    margin: 0 0 15vh 0;
  }
}
@media (max-width: 450px) {
  .aboutMe {
    text-align: center;
  }
  .description {
    font-size: medium;
  }
  .techImageContainer {
    width: 25vw;
    height: 25vw;
    margin: 3.33vw;
  }
}
