<div class="personalInfo columnContainer">
  <p class="aboutMeTitle darkFont fontLarge">I'm a web developer</p>
  <p class="description darkFont paddingSmall fontMedium">
    {{ aboutMe }}
  </p>
</div>
<div id="tech" class="columnContainer">
  <p class="techImagesTitle darkFont fontLarge">
    Some technologies I am familiar with
  </p>
  <div
    #techImagesNode
    class="techImages rowContainer"
    (wheel)="onWheel($event)"
  >
    <img
      *ngFor="let tech of techs; let i = index"
      [src]="tech.techImg"
      class="techImage paddingMedium marginSmall"
      [class]="i === techs.length - 1 ? 'listEnd' : ''"
      [alt]="tech.name.toString() + ' logo'"
    />
    <div *ngIf="screenHeight > 850" class="rowContainer">
      <img
        *ngFor="let tech of techs; let i = index"
        [src]="tech.techImg"
        class="techImage paddingMedium marginSmall"
        [class]="i === techs.length - 1 ? 'listEnd' : ''"
        [alt]="tech.name.toString() + 'logo'"
      />
    </div>
  </div>
</div>
