<div class="personalInfo columnContainer">
  <p class="aboutMeTitle darkFont fontLarge">I'm a web developer</p>
  <div *ngIf="!isLoading" class="aboutMeContainer">
    <app-close-and-edit
      class="closeAndEdit"
      (onEdit)="editAboutMe = !editAboutMe"
    ></app-close-and-edit>
    <p
      *ngIf="!editAboutMe"
      class="description darkFont paddingSmall fontMedium"
    >
      {{ aboutMe }}
    </p>
    <textarea
      *ngIf="editAboutMe"
      [(ngModel)]="aboutMe"
      (change)="onAboutMeChange.emit(aboutMe)"
      class="descriptionInput"
      >{{ aboutMe }}</textarea
    >
  </div>
  <app-loading-icon class="loadingIcon" *ngIf="isLoading"></app-loading-icon>
</div>
<div *ngIf="!isLoading" id="tech" class="techContainer">
  <p class="techImagesTitle darkFont fontLarge">
    Some technologies I am familiar with
  </p>
  <div #techImagesNode class="techImages" (wheel)="onWheel($event)">
    <div #techImage *ngFor="let tech of techs; let i = index">
      <div
        [ngClass]="{
          techImageContainer: !loggedIn,
          techFormContainer: loggedIn,
          listEnd: i === techs.length - 1
        }"
      >
        <app-close-and-edit
          *ngIf="loggedIn"
          class="closeAndEdit"
          (onEdit)="showForm[i] = !showForm[i]"
          (onDelete)="deleteTech(i)"
        ></app-close-and-edit>
        <img
          *ngIf="!showForm[i]"
          [src]="tech.techImg"
          [class]="loggedIn ? 'techImageLogged' : 'techImage'"
          [alt]="tech.name.toString() + ' logo'"
        />
        <app-techs-form
          *ngIf="showForm[i]"
          (onSaveTech)="saveTech($event, i)"
          [tech]="tech"
        ></app-techs-form>
      </div>
    </div>
    <div
      *ngFor="let tech of techs; let i = index"
      class="extraTechs"
      [class]="i === techs.length - 1 ? 'listEnd' : ''"
    >
      <div
        [ngClass]="{
          techImageContainer: !loggedIn,
          techFormContainer: loggedIn,
          listEnd: i === techs.length - 1
        }"
      >
        <app-close-and-edit
          *ngIf="loggedIn"
          class="closeAndEdit"
          (onEdit)="showForm[i] = !showForm[i]"
          (onDelete)="deleteTech(i)"
        ></app-close-and-edit>
        <img
          *ngIf="!showForm[i]"
          [src]="tech.techImg"
          [class]="loggedIn ? 'techImageLogged' : 'techImage'"
          [alt]="tech.name.toString() + ' logo'"
        />
        <app-techs-form
          *ngIf="showForm[i]"
          (onSaveTech)="saveTech($event, i)"
          [tech]="tech"
        ></app-techs-form>
      </div>
    </div>
  </div>
  <div *ngIf="loggedIn" class="newTechContainer">
    <app-techs-form
      *ngIf="showNewForm"
      (onAddTech)="addTech($event)"
      [isNewTechItem]="true"
    ></app-techs-form>
    <button
      *ngIf="loggedIn"
      (click)="showNewForm = !showNewForm"
      class="button"
    >
      Add tech
    </button>
  </div>
</div>
<app-loading-icon class="loadingIcon" *ngIf="isLoading"></app-loading-icon>
