.aboutMeBox {
  position: relative;
  width: 100%;
}
.aboutMeTitle {
  margin: 2vh 0 4vh;
  width: 100%;
  text-align: center;
}
.aboutMeTitle::before {
  content: "";
  position: absolute;
  left: 0vw;
  width: 62%;
  border-top: 3px solid #363636;
  top: 0vh;
}
.personalInfo {
  align-self: flex-start;
  position: relative;
  width: 60%;
  margin: 0 0 20vh 5vw;
}
.description {
  font-weight: 500;
  text-align: center;
}
.profileImg {
  width: 12vw;
  margin: 3vw;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #08001e;
}
.techImagesTitleBox {
  position: relative;
  align-self: flex-end;
  margin-bottom: 2vh;
  width: 70%;
}
.techImagesTitle {
  margin-top: 2vh;
}
.techImagesTitle::before {
  content: "";
  position: absolute;
  left: 1vw;
  width: 91%;
  border-top: 3px solid #363636;
  top: 0vh;
}
.techImages {
  overflow: auto;
  width: 100vw;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior-block: contain;
}
.techImage {
  flex-shrink: 0;
  width: 10vw;
  border-radius: 150% 100% / 10% 40%;
  box-shadow: 0px 0px 5px 0px #08001e;
}

@media (max-width: 850px) {
  .personalInfo {
    align-self: flex-end;
    margin: 0 13vw 15vh 5vw;
  }
  .aboutMeTitle {
    margin-top: 1vh;
  }
  .aboutMeTitle::before {
    width: 66%;
    left: 3vw;
  }
  .description {
    text-align: right;
  }
  .techImagesTitle {
    margin-top: 1vh;
    max-width: 35vw;
  }
  .techImagesTitle::before {
    width: 100%;
  }
  .profileImg {
    width: 25vw;
  }
  .techImagesTitleBox {
    margin: 0 7vw 2vh 0;
  }
  .techImage {
    width: 25%;
  }
}
@media (max-width: 450px) {
  .profileImg {
    width: 12vh;
    border-radius: 50%;
  }
  .personalInfo {
    width: 100%;
  }
  .aboutMe {
    text-align: center;
  }
  .description {
    font-size: small;
  }
  .techImage {
    width: 50%;
  }
}
/* .techImagesTitleBox {
  justify-content: space-between;
}
.techImagesTitle {
  align-self: flex-end;
  margin: 0 1vw;
  max-width: 35vw;
  line-height: 15vh;
}
.techLine {
  width: 60vw;
  margin-left: 2vw;
  color: #363636;
} */
