<p class="title darkFont fontLarge">Projects i've worked on</p>
<div class="columnContainer projects">
  <div *ngFor="let p of projects; let i = index">
    <app-close-and-edit
      class="closeAndEdit"
      (onEdit)="showForm[i] = !showForm[i]"
      (onDelete)="deleteProject(i)"
    ></app-close-and-edit>
    <app-project-item
      *ngIf="!showForm[i]"
      [index]="i"
      [project]="p"
      class="projectItem rowContainer"
      [class]="i % 2 === 0 ? 'projectItemLeft' : 'projectItemRight'"
    >
    </app-project-item>
    <app-projects-form
      *ngIf="showForm[i]"
      (onSaveProject)="saveProject($event, i)"
      [project]="p"
      class="projectItem rowContainer"
      [class]="i % 2 === 0 ? 'projectItemLeft' : 'projectItemRight'"
    >
    </app-projects-form>
  </div>
  <app-projects-form
    *ngIf="showNewForm"
    [isNewProjectItem]="true"
    (onAddProject)="addProject($event)"
  ></app-projects-form>
  <button
    *ngIf="loggedIn"
    (click)="showNewForm = !showNewForm"
    class="addProject"
  >
    Add project
  </button>
</div>
