.title {
  position: relative;
  margin-bottom: 7vh;
  align-self: flex-end;
  width: 60%;
}
.title::before {
  content: "";
  position: absolute;
  left: 1vw;
  width: 91%;
  border-top: 3px solid #363636;
  top: -1.5vh;
}
.projects {
  width: 100%;
}
.projectItem {
  position: relative;
  width: 60%;
  padding: max(2vw, 2vh);
  margin: 40px max(2vw, 2vh);
}
.projectItemLeft {
  align-self: flex-start;
}
.projectItemRight {
  align-self: flex-end;
}
.projectItemLeft::before {
  content: "";
  position: absolute;
  left: 4vw;
  width: 121%;
  border-bottom: 2px solid #363636;
  bottom: 0;
  border-image: linear-gradient(to right, #202020, rgba(0, 0, 0, 0)) 0 0 1%;
}
.projectItemRight::before {
  content: "";
  position: absolute;
  right: 4vw;
  width: 121%;
  border-bottom: 2px solid #363636;
  bottom: 0;
  border-image: linear-gradient(to left, #202020, rgba(0, 0, 0, 0)) 0 0 1%;
}
.addProject {
  padding: 5px;
  margin: 5vh 0;
}
@media (max-width: 850px) {
  .projectItem {
    flex-direction: column;
    align-items: center;
    width: 75%;
  }
  .projectItemRight::before,
  .projectItemLeft::before {
    right: 12vw;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .title {
    width: 92%;
  }
  .title::before {
    left: 4vw;
    width: 88%;
  }
  .projectItem {
    padding: 3.5vh;
  }
  .projectItemLeft,
  .projectItemRight {
    align-self: center;
  }

  .projectItemRight::before,
  .projectItemLeft::before {
    right: 0vw;
  }
}
