.title {
  border-bottom: 2px solid rgb(37, 37, 37);
  padding: 10px 5vw;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      #202020 20% 80%,
      rgba(0, 0, 0, 0)
    )
    0 0 1%;
}
.description {
  padding-bottom: 1vw;
  line-height: 30px;
}
.logoBox {
  position: relative;
}
.logo {
  position: relative;
  width: 15vw;
}
.infoContainer {
  width: 70%;
  width: 70%;
}
.p {
  text-align: center;
  text-shadow: 0px 0px 1px #131313;
}
.link {
  display: inline-block;
  position: relative;
  margin: 3px;
  transition: margin 0.3s ease, color 0.3s ease;
  right: 0;
  color: #1870f0;
}
.link:hover {
  margin: 7px;
  color: rgb(214, 0, 0);
}
.projectTech {
  display: inline;
}

.form {
  width: 30vw;
}
.formInputs {
  display: flex;
  flex-wrap: wrap;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  width: 47%;
  margin: 5px;
}
.label {
  margin-bottom: 5px;
}
.saveButton {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}
.inputError {
  border-color: red;
}
.errorSpan {
  color: red;
}
.inputGroupTitle {
  text-align: center;
}
.inputGroupElement {
  display: flex;
  align-items: center;
}
.url,
.tech {
  flex: 1;
}
.formGroupsContainer {
  display: flex;
  width: 100%;
}
.inputGroup {
  display: flex;
  flex-direction: column;
}
.newElementContainer {
  display: flex;
  flex-direction: column;
}
.closeIcon {
  margin: 5px;
}
.addIcon {
  align-self: flex-end;
  transform: rotate(45deg);
  margin: 5px;
}
.newUrl {
  display: flex;
  flex-direction: column;
}
.flex1 {
  flex: 1;
}
@media (max-width: 850px) {
  .logo {
    width: max(17vh, 17vw);
  }
  .description {
    line-height: max(2.5vh, 2.5vw);
  }
}
@media (max-width: 450px) {
  .infoContainer {
    width: 100%;
  }
}
