<img
  class="logo rounded marginSmall"
  [src]="projectItem.projectImg"
  alt="logo"
/>
<div class="infoContainer columnContainer marginSmall justifyCenter">
  <p
    class="title p fontMedium marginSmall"
    [class]="index % 2 === 0 ? 'darkFont' : ''"
  >
    {{ projectItem.title }}
  </p>
  <p
    class="description p fontSmall"
    [class]="index % 2 === 0 ? 'darkFont' : ''"
  >
    {{ projectItem.description }}
  </p>
  <ul>
    <li *ngFor="let url of projectItem.urls" class="p fontSmall">
      <a [href]="url.url" class="link p fontSmall">{{ url.name }}</a>
    </li>
  </ul>
  <ul class="p">
    <li
      *ngFor="let tech of projectItem.techs; let i = index"
      class="p projectTech fontSmall"
      [class]="index % 2 === 0 ? 'darkFont' : ''"
    >
      <span>{{ tech.name }}</span
      ><span *ngIf="i !== projectItem.techs.length - 1"> - </span>
    </li>
  </ul>
</div>
