.formContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logoContainer {
  justify-content: center;
  height: 25vh;
  width: 25vh;
}
.logo {
  max-width: 100%;
}
.form {
  width: 30vw;
}
.formInputs {
  display: flex;
  flex-wrap: wrap;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  width: 47%;
  margin: 5px;
}
.label {
  margin-bottom: 5px;
}
.saveButton {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}
.inputError {
  border-color: red;
}
.errorSpan {
  color: red;
}
.inputGroupTitle {
  text-align: center;
}
.inputGroupElement {
  display: flex;
  align-items: center;
}
.url,
.tech {
  flex: 1;
}
.formGroupsContainer {
  display: flex;
  width: 100%;
}
.inputGroup {
  display: flex;
  flex-direction: column;
}
.newElementContainer {
  display: flex;
  flex-direction: column;
}
.closeIcon {
  margin: 5px;
}
.addIcon {
  align-self: flex-end;
  transform: rotate(45deg);
  margin: 5px;
}
.newUrl {
  display: flex;
  flex-direction: column;
}
.flex1 {
  flex: 1;
}
