<nav class="nav rowContainer">
  <div class="rowContainer">
    <a
      class="rowContainer"
      href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
      target="_blank"
      rel="noreferrer"
      ><img
        class="APimg"
        src="../../../assets/logos/APLogo.png"
        alt="argentina programa logo"
    /></a>
    <a
      class="yoProgramo"
      href="http://www.yoprogramo.org.ar/"
      target="_blank"
      rel="noreferrer"
      >#YoProgramo</a
    >
  </div>
  <div class="social rowContainer">
    <a href="https://github.com/GuidoGlielmi" target="_blank"
      ><img
        class="imgSmall marginSmall"
        src="../../../assets/logos/GitHub-Mark-Light-64px.png"
        alt="github logo"
    /></a>
    <a href="https://www.linkedin.com/in/guido-glielmi/" target="_blank"
      ><img
        class="imgSmall marginSmall"
        src="../../../assets/logos/icons8-linkedin-64.png"
        alt="linkedin logo"
    /></a>
  </div>
</nav>
<app-header></app-header>
<router-outlet></router-outlet>
