<app-modal
  id="modalBackground"
  [@showLogin]="loginState"
  (click)="toggleLogin($event)"
  class="loginModal"
></app-modal
><a href="#down" class="goDownLink"
  ><button
    [@goDown]="goDownState"
    [@goDownFadeOut]="goDownFadeOutState"
    (click)="pressGoDownButton(false)"
    (@goDown.done)="pressGoDownButton(true)"
    class="goDown"
  >
    Go down
  </button></a
>

<div #navBar class="navContainer columnContainer">
  <nav class="nav rowContainer">
    <div class="argPrograma rowContainer">
      <a
        class="rowContainer"
        href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
        target="_blank"
        rel="noreferrer"
        ><img
          class="APimg"
          src="../../../assets/logos/APLogo.png"
          alt="argentina programa logo"
      /></a>
      <a
        class="yoProgramo lightFont"
        href="http://www.yoprogramo.org.ar/"
        target="_blank"
        rel="noreferrer"
        >#YoProgramo</a
      >
    </div>
    <div class="rowContainer">
      <div class="social rowContainer">
        <a
          href="https://github.com/GuidoGlielmi"
          target="_blank"
          class="marginSmall rowContainer"
          ><img
            class="socialIcon"
            src="../../../assets/logos/GitHub-Mark-Light-64px.png"
            alt="github logo"
        /></a>
        <a
          href="https://www.linkedin.com/in/guido-glielmi/"
          target="_blank"
          class="marginSmall rowContainer"
          ><img
            class="socialIcon"
            src="../../../assets/logos/icons8-linkedin-64.png"
            alt="linkedin logo"
        /></a>
      </div>
      <button
        id="modalButton"
        class="loginButton"
        (click)="toggleLogin($event)"
        (click)="pressLoginButton(false)"
        [@goDown]="loginButtonState"
        (@goDown.done)="pressLoginButton(true)"
      >
        Login
      </button>
    </div>
  </nav>
  <div class="dropDownBox columnContainer">
    <div [@hideSocialIcons]="socialState" class="socialOnCell rowContainer">
      <a
        href="https://github.com/GuidoGlielmi"
        target="_blank"
        class="socialMediaLinkOnCell marginSmall"
        ><img
          class="socialIcon"
          src="../../../assets/logos/GitHub-Mark-Light-64px.png"
          alt="github logo"
      /></a>
      <a
        href="https://www.linkedin.com/in/guido-glielmi/"
        target="_blank"
        class="socialMediaLinkOnCell marginSmall"
        ><img
          class="socialIcon"
          src="../../../assets/logos/icons8-linkedin-64.png"
          alt="linkedin logo"
      /></a>
    </div>
    <div [@rotateSocialArrow]="socialState" (click)="showSocial()">
      <app-drop-down></app-drop-down>
    </div>
  </div>
</div>
<app-header></app-header>
<app-section color="pink">
  <app-personal-info
    id="elf"
    class="personalInfo columnContainer"
  ></app-personal-info>
</app-section>
<app-experience
  id="experiences"
  class="experiences columnContainer"
></app-experience>
<app-section id="education" color="pink" boxShadow="shadowLarge">
  <app-education class="education columnContainer"></app-education>
</app-section>
<div id="skills" class="skillsAndProjects">
  <app-skills [size]="6" class="skills columnContainer"></app-skills>
  <app-projects id="projects" class="education columnContainer"></app-projects>
</div>
<app-footer class="footer"></app-footer>
<router-outlet></router-outlet>
