.personalInfo {
  position: relative;
  width: 100vw;
  padding-top: 26vh;
}

/* .experiences {
  padding-top: 4vw;
} */
.education {
  width: 100%;
  padding: 10vh 0 10vh 0;
}
.skills {
  justify-content: center;
  flex-wrap: wrap;
  padding: 10vh 0 10vh 0;
}
.navContainer {
  align-items: initial;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(93, 56, 130);
  box-shadow: 0px -10px 30px 1px #363636;
}
.nav {
  justify-content: space-between;
}
.social {
  padding: 0 10px;
}
.socialIcon {
  width: 4vw;
}
.APimg {
  width: 10vw;
}
.yoProgramo {
  font-size: 2vw;
}
.dropDownBox {
  display: none;
}

@media (max-width: 450px) {
  nav {
    width: 100%;
  }
  .argPrograma {
    justify-content: space-evenly;
    width: 100%;
  }
  .navContainer {
    align-items: center;
    border-radius: 0 0 20px 20px;
  }
  .dropDownBox {
    display: flex;
    width: 100%;
  }
  .dropDown {
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 7vw;
    height: 7vw;
    margin: 10px;
    cursor: pointer;
    background: #203e74;
  }
  .dropDownLeftSide {
    position: absolute;
    height: 20%;
    width: 70%;
    transform: rotate(45deg);
    transform-origin: top left;
    border-radius: 2px;
    background-color: rgb(238, 238, 238);
  }
  .dropDownRightSide {
    position: absolute;
    height: 20%;
    width: 70%;
    transform: rotate(-45deg);
    transform-origin: top right;
    border-radius: 2px;
    background-color: rgb(238, 238, 238);
  }
  .APimg {
    width: 13vh;
  }
  .yoProgramo {
    font-size: 2.5vh;
  }
  .social {
    display: none;
  }
  .socialOnCell {
    justify-content: space-around;
    width: 50%;
  }
  .socialIcon {
    width: 4vh;
  }
}
@media (max-width: 1200px) {
  .personalInfo {
    flex-direction: column;
    justify-content: center;
    flex-basis: 0;
  }
}
