<app-modal
  id="modalBackground"
  [@showLogin]="loginState"
  (click)="toggleLogin($event)"
  class="loginModal"
></app-modal>
<div
  [ngClass]="{
    responseMsgContainer: !responseMsgError,
    responseMsgErrorContainer: responseMsgError
  }"
  [@showResponseModal]="responseModalState"
>
  <p class="responseMsg">{{ responseMsg }}</p>
  <button (click)="responseModalState = 'notShown'" class="closeResponseModal">
    X
  </button>
</div>
<a href="#down" class="goDownLink"
  ><button
    [@goDown]="goDownState"
    [@goDownFadeOut]="goDownFadeOutState"
    (click)="pressGoDownButton(false)"
    (@goDown.done)="pressGoDownButton(true)"
    class="goDown"
  >
    Go down
  </button></a
>

<div #navBar class="navContainer">
  <nav class="nav">
    <div class="argPrograma">
      <a
        class="APImgLink"
        href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
        target="_blank"
        rel="noreferrer"
        ><img
          class="APimg"
          src="/assets/logos/AP.png"
          alt="argentina programa logo"
      /></a>
      <a
        class="yoProgramo lightFont"
        href="http://www.yoprogramo.org.ar/"
        target="_blank"
        rel="noreferrer"
        >#YoProgramo</a
      >
      <button class="loginButton" (click)="saveUser()">Save user</button>
    </div>
    <div class="rightSideBox">
      <app-close-and-edit
        *ngIf="loggedIn"
        class="closeAndEdit"
        (onEdit)="editLinks = !editLinks"
      ></app-close-and-edit>
      <div class="social rowContainer">
        <a
          *ngIf="!editLinks"
          [href]="user.githubUrl"
          target="_blank"
          class="socialLink"
          ><img
            class="socialIcon"
            src="/assets/logos/GitHub-Mark-Light-64px.png"
            alt="github logo"
        /></a>
        <input
          *ngIf="editLinks"
          [(ngModel)]="user.githubUrl"
          class="urlInputs"
        />
        <a [href]="user.linkedInUrl" target="_blank" class="socialLink"
          ><img
            *ngIf="!editLinks"
            class="socialIcon"
            src="/assets/logos/linkedin.png"
            alt="linkedin logo"
        /></a>
        <input
          *ngIf="editLinks"
          [(ngModel)]="user.linkedInUrl"
          class="urlInputs"
        />
      </div>
      <button
        id="modalButton"
        class="loginButton"
        (click)="toggleLogin($event)"
        (click)="pressLoginButton(false)"
        [@goDown]="loginButtonState"
        (@goDown.done)="pressLoginButton(true)"
      >
        Login
      </button>
    </div>
  </nav>
  <div class="dropDownBox">
    <div [@hideSocialIcons]="socialState" class="socialOnCell">
      <a
        href="https://github.com/GuidoGlielmi"
        target="_blank"
        class="socialLinkOnCell"
        ><img
          class="socialIcon"
          src="/assets/logos/GitHub-Mark-Light-64px.png"
          alt="github logo"
      /></a>
      <a
        href="https://www.linkedin.com/in/guido-glielmi/"
        target="_blank"
        class="socialLinkOnCell"
        ><img
          class="socialIcon"
          src="/assets/logos/linkedin.png"
          alt="linkedin logo"
      /></a>
    </div>
    <div [@rotateSocialArrow]="socialState" (click)="showSocial()">
      <app-drop-down></app-drop-down>
    </div>
  </div>
</div>
<app-header
  [profileImgSrc]="user.profileImg"
  (onProfileImgChange)="user.profileImg = $event"
></app-header>
<app-section color="pink">
  <app-personal-info
    id="myself"
    [aboutMe]="user.aboutMe"
    (onAboutMeChange)="user.aboutMe = $event"
    class="personalInfo"
  ></app-personal-info>
</app-section>
<app-experience id="experiences" class="experiences"></app-experience>
<app-section id="education" color="pink" boxShadow="shadowLarge">
  <app-education class="education columnContainer"></app-education>
</app-section>
<div id="skills" class="skillsAndProjects">
  <app-skills [size]="5" class="skills columnContainer"></app-skills>
  <app-projects id="projects" class="education columnContainer"></app-projects>
</div>
<app-footer class="footer"></app-footer>
<router-outlet></router-outlet>
