<div class="circleBox rowContainer">
  <p class="percentage">{{ percentage }}%</p>
  <svg
    class="circleContainer marginSmall"
    [attr.width]="diameter + vwh"
    [attr.height]="diameter + vwh"
  >
    <circle
      class="circleBackground"
      [attr.stroke-width]="strokeWidth + vwh"
      fill="transparent"
      [attr.r]="radius + vwh"
      [attr.cx]="cxy + vwh"
      [attr.cy]="cxy + vwh"
    />
    <circle
      class="circle"
      [attr.stroke]="color"
      [attr.stroke-width]="strokeWidth + vwh"
      fill="transparent"
      [attr.r]="radius + vwh"
      [attr.cx]="cxy + vwh"
      [attr.cy]="cxy + vwh"
      [attr.stroke-dasharray]="circumference + 'px'"
      [attr.stroke-dashoffset]="offset + 'px'"
    />
  </svg>
</div>
