.title {
  position: relative;
  margin-bottom: 7vh;
  align-self: flex-end;
  width: 60%;
}
.title::before {
  content: "";
  position: absolute;
  left: 1vw;
  width: 91%;
  border-top: 3px solid #363636;
  top: -1.5vh;
}
.educations {
  width: 100%;
}
.educationContainer {
  margin: max(4vw, 4vh) 0;
  width: 80%;
}
.closeAndEdit {
  align-self: flex-end;
}
.educationItem {
  display: flex;
  align-items: center;
  width: 80%;
  padding: max(2vw, 2vh);
}
.educationItemLeft,
.educationItemRight {
  position: relative;
}
.educationItemLeft::before {
  content: "";
  position: absolute;
  left: 7vw;
  width: 121%;
  border-bottom: 2px solid #363636;
  bottom: 0;
  border-image: linear-gradient(to right, #363636, rgba(0, 0, 0, 0)) 0 0 1%;
}
.educationItemRight::before {
  content: "";
  position: absolute;
  right: 7vw;
  width: 121%;
  border-bottom: 2px solid #363636;
  bottom: 0;
  border-image: linear-gradient(to left, #363636, rgba(0, 0, 0, 0)) 0 0 1%;
}
.addEducation {
  padding: 5px;
  margin: 5vh 0;
}
@media (max-width: 850px) {
  .educationItemLeft,
  .educationItemRight {
    width: 100%;
  }
  .educationItemRight::before {
    right: 2vw;
    width: 100%;
  }
  .educationItemLeft::before {
    left: 2vw;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .title {
    width: 80%;
  }
  .title::before {
    left: 4vw;
    width: 85%;
  }
  .educationItem {
    flex-direction: column;
  }
  .educationItemRight::before {
    right: 2vw;
    width: 100%;
  }
  .educationItemLeft::before {
    left: 2vw;
    width: 100%;
  }
}
