<p class="title darkFont fontLarge">My education</p>
<div class="columnContainer educations">
  <div
    *ngFor="let e of education; let i = index"
    class="educationContainer columnContainer"
  >
    <app-close-and-edit class="closeAndEdit"></app-close-and-edit>
    <app-education-item
      [index]="i"
      [educationItem]="e"
      class="educationItem"
      [class]="
        i % 2 === 0
          ? 'educationItemLeft alignLeft'
          : 'educationItemRight alignRight'
      "
    >
    </app-education-item>
  </div>
  <app-education-form *ngIf="showNewForm"></app-education-form>
  <button (click)="showNewForm = !showNewForm" class="addEducation">
    Add education
  </button>
</div>
