<p class="title darkFont fontLarge">My education</p>
<div class="columnContainer educations">
  <div
    *ngFor="let e of education; let i = index"
    class="educationContainer columnContainer"
  >
    <app-close-and-edit
      class="closeAndEdit"
      (onEdit)="showForm[i] = !showForm[i]"
      (onDelete)="deleteEducation(i)"
    ></app-close-and-edit>
    <app-education-item
      *ngIf="!showForm[i]"
      [index]="i"
      [educationItem]="e"
      class="educationItem"
      [class]="
        i % 2 === 0
          ? 'educationItemLeft alignLeft'
          : 'educationItemRight alignRight'
      "
    >
    </app-education-item>
    <app-education-form
      *ngIf="showForm[i]"
      (onSaveEducation)="saveEducation($event, i)"
      class="mainContainer rowContainer"
      [educationItem]="e"
    ></app-education-form>
  </div>
  <app-education-form
    *ngIf="showNewForm"
    (onAddEducation)="addEducation($event)"
    [isNewEducationItem]="true"
  ></app-education-form>
  <button
    *ngIf="loggedIn"
    (click)="showNewForm = !showNewForm"
    class="addEducation"
  >
    Add education
  </button>
</div>
