.expDescr {
  text-align: center;
}
.logo {
  max-width: 15vw;
}
.p {
  text-shadow: inherit;
}
.certificate {
  color: #1870f0;
  transition: color 0.25s ease;
}

.certificate:hover {
  color: red;
}
@media (max-width: 450px) {
  .logo {
    max-width: 15vh;
  }
}
