<div class="rowContainer">
  <img
    class="logo rounded marginSmall"
    [style.background]="
      experience.title === 'Argentina Programa' ? '#1e1e1e' : ''
    "
    [src]="experience.experienceImg"
    alt="logo"
  />
</div>
<div class="expDescr columnContainer marginSmall justifyCenter">
  <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : 'lightFont'">
    {{ experience.startDate }}
  </p>
  <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : 'lightFont'">
    {{ experience.endDate }}
  </p>
  <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : 'lightFont'">
    {{ experience.description }}
  </p>
</div>
