<div class="rowContainer">
  <img
    class="logo rounded marginSmall"
    [style.background]="
      experience.title === 'Argentina Programa' ? '#1e1e1e' : ''
    "
    [src]="experience.experienceImg"
    alt="logo"
  />
</div>
<div class="expDescr columnContainer marginSmall justifyCenter">
  <h3 class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : 'lightFont'">
    {{ experience.title }}
  </h3>
  <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : 'lightFont'">
    {{ experience.startDate }}
  </p>
  <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : 'lightFont'">
    {{ experience.endDate }}
  </p>
  <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : 'lightFont'">
    {{ experience.description }}
  </p>
  <a
    *ngIf="experience.certificate"
    [href]="experience.certificate"
    target="_blank"
    class="certificate fontMedium"
  >
    certificate
  </a>
</div>
