.title {
  align-self: flex-start;
  position: relative;
  margin-bottom: 1vw;
  width: 60vw;
  text-align: end;
}
.title::before {
  content: "";
  position: absolute;
  left: 4vw;
  width: 91%;
  border-top: 3px solid #363636;
  top: -2vh;
}
.skillTitle {
  font-size: x-large;
}
.languages {
  align-self: flex-end;
  position: relative;
  margin-bottom: 1vw;
  width: 60vw;
  text-align: start;
}
.languages::before {
  content: "";
  position: absolute;
  right: 4vw;
  width: 91%;
  border-top: 3px solid #363636;
  top: -2vh;
}
.skillsContainer {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.circleContainer {
  transform: rotate(-90deg) scale(1, -1);
}
.circle {
  transition: stroke-dashoffset 0.5s ease;
}
@media (max-width: 450px) {
  .title {
    width: 70vw;
  }
  .title::before {
    width: 85%;
  }
  .skillTitle {
    font-size: medium;
  }
  .languages::before {
    right: 8vw;
    width: 80%;
  }
}
