.educationItemDescr {
}
.logoBox {
  position: relative;
}
.logo {
  position: relative;
  width: 20vw;
}
.p {
  text-align: center;
}
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.inputLabel {
  width: 40%;
  margin: 5px;
}
.label {
  display: inline-block;
  margin-bottom: 5px;
}
.input {
  display: block;
}
.saveButton {
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}
.inputError {
  border-color: red;
}
.errorSpan {
  color: red;
}
@media (max-width: 650px) {
  .logo {
    width: 80%;
  }
}
