<button (click)="registered = !registered">log in</button>
<div *ngIf="!registered" class="rowContainer">
  <div class="logoBox">
    <img
      class="logo marginSmall"
      [src]="educationItem.educationImg"
      alt="logo"
    />
  </div>
  <div class="educationItemDescr columnContainer marginSmall">
    <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : ''">
      {{ educationItem.degree }}
    </p>
    <p class="p fontSmall" [class]="index % 2 === 0 ? 'darkFont' : ''">
      {{ educationItem.school }}
    </p>
    <p class="p fontSmall" [class]="index % 2 === 0 ? 'darkFont' : ''">
      {{ educationItem.startDate }}
    </p>
    <p class="p fontSmall" [class]="index % 2 === 0 ? 'darkFont' : ''">
      {{ educationItem.endDate }}
    </p>
  </div>
</div>
<div *ngIf="registered" class="educationItemDescr rowContainer">
  <div class="logoBox">
    <img
      class="logo marginSmall"
      [src]="educationItem.educationImg"
      alt="logo"
    />
  </div>
  <form
    [formGroup]="newEducationItem"
    (ngSubmit)="saveEducation()"
    class="columnContainer"
  >
    <div class="form">
      <div class="inputLabel">
        <label for="school" class="label">School</label>
        <input
          formControlName="school"
          [ngClass]="{
            inputError: school?.errors && school?.touched && !schoolClicked
          }"
          (focus)="schoolClicked = true"
          (blur)="schoolClicked = false"
          class="input"
          id="school"
        />
      </div>
      <div class="inputLabel">
        <label for="startDate" class="label">Start date</label>
        <input
          formControlName="startDate"
          [ngClass]="{
            inputError:
              startDate?.errors && startDate?.touched && !startDateClicked
          }"
          (focus)="startDateClicked = true"
          (blur)="startDateClicked = false"
          class="input"
          id="startDate"
        />
      </div>
      <div class="inputLabel">
        <label for="endDate" class="label">End date</label>
        <input
          formControlName="endDate"
          [ngClass]="{
            inputError: endDate?.errors && endDate?.touched && !endDateClicked
          }"
          (focus)="endDateClicked = true"
          (blur)="endDateClicked = false"
          class="input"
          id="endDate"
        />
      </div>
      <div class="inputLabel">
        <label for="degree" class="label">Degree</label>
        <input
          formControlName="degree"
          [ngClass]="{
            inputError: degree?.errors && degree?.touched && !degreeClicked
          }"
          (focus)="degreeClicked = true"
          (blur)="degreeClicked = false"
          class="input"
          id="degree"
        />
      </div>
      <div class="inputLabel">
        <label for="educationImg" class="label">Institute image</label>
        <input
          (focus)="educationImgClicked = true"
          (blur)="educationImgClicked = false"
          class="input"
          [ngClass]="{
            inputError:
              educationImg?.errors &&
              educationImg?.touched &&
              !educationImgClicked
          }"
          formControlName="educationImg"
          id="educationImg"
        />
        <span
          *ngIf="
            educationImg?.errors &&
            educationImg?.touched &&
            !educationImgClicked
          "
          class="errorSpan"
          >Required</span
        >
      </div>
    </div>
    <button
      type="submit"
      class="saveButton"
      [disabled]="!newEducationItem.valid"
    >
      Save
    </button>
  </form>
</div>
