<div class="logoBox">
  <img class="logo marginSmall" [src]="educationItem.logoUrl" alt="logo" />
</div>
<div class="educationItemDescr columnContainer marginSmall justifyCenter">
  <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : ''">
    {{ educationItem.title }}
  </p>
  <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : ''">
    {{ educationItem.startDate }}
  </p>
  <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : ''">
    {{ educationItem.endDate }}
  </p>
</div>
