<div class="mainContainer rowContainer">
  <img class="logo marginSmall" [src]="educationItem.educationImg" alt="logo" />
  <div class="educationItemDescr columnContainer marginSmall">
    <p class="p fontMedium" [class]="index % 2 === 0 ? 'darkFont' : ''">
      {{ educationItem.degree }}
    </p>
    <p class="p fontSmall" [class]="index % 2 === 0 ? 'darkFont' : ''">
      {{ educationItem.school }}
    </p>
    <p class="p fontSmall" [class]="index % 2 === 0 ? 'darkFont' : ''">
      {{ educationItem.startDate }}
    </p>
    <p class="p fontSmall" [class]="index % 2 === 0 ? 'darkFont' : ''">
      {{ educationItem.endDate }}
    </p>
  </div>
</div>
