/* body {
  background-color: rgb(222, 222, 222);
  background-image: linear-gradient(rgb(222, 222, 222), 80%, rgb(13, 9, 27));
} */
html {
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  /*   color: rgb(43, 43, 43);
 */
  text-decoration: none;
}
.darkFont {
  color: rgb(43, 43, 43);
}
.lightFont {
  color: rgb(238, 238, 238);
}
.fontSmall {
  font-size: large;
}
.fontMedium {
  font-size: x-large;
}
.fontLarge {
  font-size: xx-large;
}
.imgSmall {
  width: 6vw;
}
.imgMedium {
  width: 10vw;
}
.rowContainer {
  display: flex;
  align-items: center;
}
.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexStart {
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
}
.spaceAround {
  justify-content: space-evenly;
}
.justifyCenter {
  justify-content: center;
}
.marginSmall {
  margin: max(1vw, 5px);
}
.marginMedium {
  margin: max(2vw, 10px);
}
.marginLarge {
  margin: max(4vw, 20px);
}
.marginXLarge {
  margin: max(6vw, 40px);
}
.paddingSmall {
  padding: max(1vw, 5px);
}
.paddingMedium {
  padding: max(2vw, 10px);
}
.paddingLarge {
  padding: max(4vw, 20px);
}
.paddingXLarge {
  padding: max(6vw, 40px);
}

@media (max-width: 450px) {
  .marginSmall {
    margin: max(2vh, 5px);
  }
  .marginMedium {
    margin: max(3.5vh, 10px);
  }
}
