* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  /*   color: rgb(43, 43, 43);
 */
  text-decoration: none;
  list-style: none;
}
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}
body {
  background: rgba(204, 204, 204, 0.3);
}
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
button {
  border: none;
}
.darkFont {
  color: rgb(43, 43, 43);
}
.lightFont {
  color: #eae4db;
}
.fontSmall {
  font-size: large;
}
.fontMedium {
  font-size: x-large;
}
.fontLarge {
  font-size: xx-large;
}
.imgSmall {
  width: 6vw;
}
.imgMedium {
  width: 10vw;
}
.rowContainer {
  display: flex;
  align-items: center;
}
.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexStart {
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
}
.spaceAround {
  justify-content: space-evenly;
}
.justifyCenter {
  justify-content: center;
}
.marginSmall {
  margin: max(1vw, 5px);
}
.marginMedium {
  margin: max(2vw, 10px);
}
.marginLarge {
  margin: max(4vw, 20px);
}
.marginXLarge {
  margin: max(6vw, 40px);
}
.paddingSmall {
  padding: max(1vw, 5px);
}
.paddingMedium {
  padding: max(2vw, 10px);
}
.paddingLarge {
  padding: max(4vw, 20px);
}
.paddingXLarge {
  padding: max(6vw, 40px);
}
.alignRight {
  align-self: flex-end;
}
.alignLeft {
  align-self: flex-start;
}
.rounded {
  border-radius: 50%;
}
@media (max-width: 650px) {
  .marginSmall {
    margin: max(1vh, 5px);
  }
  .marginMedium {
    margin: max(3vh, 10px);
  }
  .paddingSmall {
    padding: max(1vh, 10px);
  }
  .paddingMedium {
    padding: max(2vh, 10px);
  }
}
@media (max-width: 450px) {
  .marginSmall {
    margin: max(1vh, 5px);
  }
  .marginMedium {
    margin: max(3vh, 10px);
  }
  .fontSmall {
    font-size: small;
  }
  .fontMedium {
    font-size: large;
  }
  .fontLarge {
    font-size: x-large;
  }
}
