<form
  [formGroup]="inputsForm"
  (ngSubmit)="onSubmit()"
  class="form columnContainer"
>
  <div class="formInputs rowContainer">
    <div *ngFor="let input of formData" class="inputLabel columnContainer">
      <label [for]="input.key" class="label">{{ input.key }}</label>
      *ngIf="input.key !== 'id' && typeOf(input) !== 'object'"
      <div>
        <input
          [formControlName]="input.key"
          class="input"
          [ngClass]="{
            inputError:
              this.inputsForm.controls[input.key].errors &&
              this.inputsForm.controls[input.key].touched &&
              !input.clicked
          }"
          (focus)="input.clicked = true"
          (blur)="input.clicked = false"
          [id]="input.key"
        />
        <span
          *ngIf="
            this.inputsForm.controls[input.key].errors &&
            this.inputsForm.controls[input.key].touched &&
            !input.clicked
          "
          class="errorSpan"
          >Required</span
        >
      </div>
      <form *ngIf="typeOf(input) === 'object'"></form>
    </div>
  </div>
  <button type="submit" class="saveButton" [disabled]="!inputsForm.valid">
    Save
  </button>
</form>
