.firstRight {
  padding: 15vh 10vw 10vh;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 120vh;
  width: 100%;
  padding: 7vh 10vw 0;
  background-image: linear-gradient(
    190deg,
    rgba(228, 228, 228, 0.1) 70.2%,
    rgba(34, 0, 62, 0.8) 70%
  );
  color: #313131;
  text-shadow: 0px 0px 1px #131313;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 120vh;
  width: 100%;
  padding: 7vh 10vw 0;
  background-image: linear-gradient(
    170deg,
    rgba(34, 0, 62, 0.8) 70%,
    rgba(228, 228, 228, 0.1) 70.2%
  );
  text-shadow: 0 0 1px #eeeeee;
}
.projectsImagesTitleBox {
  position: relative;
  align-self: end;
  margin-bottom: 5vw;
  width: 45vw;
  right: 7vw;
}
.projectsImagesTitle {
  align-self: flex-start;
  position: relative;
  margin-bottom: 1vw;
  width: 60vw;
  text-align: end;
}
.projectsImagesTitle::before {
  content: "";
  position: absolute;
  left: -1vw;
  width: 100%;
  border-top: 3px solid #363636;
  top: -2vh;
}

.experienceItem {
  position: relative;
  max-width: 70%;
}

.firstExperienceRight {
  margin-top: 7vh;
}

.experienceItemRight::before,
.experienceItemLeft::before {
  position: absolute;
  top: 0;
  height: 140%;
  width: 110%;
}
.experienceItemLeft::before {
  content: "";
  left: 0;
  border-right: 2px solid;
  border-image: linear-gradient(to bottom, rgb(240, 240, 240), rgba(0, 0, 0, 0))
    1%;
}
.experienceItemRight::before {
  right: 0;
  content: "";
  border-left: 2px solid;
  border-image: linear-gradient(to bottom, rgb(29, 29, 29), rgba(0, 0, 0, 0)) 1%;
}

@media (max-width: 850px) {
  .firstRight,
  .right,
  .left {
    min-height: max(100vh, 80vw);
  }

  .experienceItem {
    flex-direction: column;
  }
  .projectsImagesTitle::before {
    left: 1vw;
    width: 95%;
  }
}
@media (max-width: 450px) {
  .right,
  .left {
    justify-content: flex-start;
    align-items: center;
  }

  .experienceItemRight::before,
  .experienceItemLeft::before {
    border: none;
  }
  .projectsImagesTitle {
    width: 90%;
  }
}
