.projectsImagesTitleBox {
  position: relative;
  align-self: end;
  margin-bottom: 5vw;
  width: 45vw;
  right: 7vw;
}
.projectsImagesTitle {
  align-self: flex-start;
  position: relative;
  margin-bottom: 1vw;
  width: 60vw;
  text-align: end;
}
.projectsImagesTitle::before {
  content: "";
  position: absolute;
  left: -1vw;
  width: 100%;
  border-top: 3px solid #363636;
  top: -2vh;
}

.firstExperienceRight {
  padding-bottom: 0;
}
.experienceRight {
  padding-bottom: 0;
}
.experienceLeft {
  padding-bottom: 0;
}
@media (max-width: 850px) {
  .projectsImagesTitle::before {
    left: 1vw;
    width: 95%;
  }
}
@media (max-width: 450px) {
  .projectsImagesTitle {
    width: 90%;
  }
  .firstExperienceRight {
    flex-direction: column;
    padding-bottom: 80%;
  }
  .experienceRight {
    flex-direction: column;
    padding-bottom: 80%;
  }
  .experienceLeft {
    flex-direction: column;
    padding-bottom: 80%;
  }
}
/* .firstRight {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  padding-top: 15vh;
  background-image: linear-gradient(
    190deg,
    rgba(226, 226, 226, 0.1) 80%,
    rgba(19, 12, 39, 0.8) 80.2%
  );
  text-shadow: 0px 0px 1px #131313;
}
.right {
  min-height: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  background-image: linear-gradient(
    190deg,
    rgba(228, 228, 228, 0.1) 70.2%,
    rgba(19, 12, 39, 0.8) 70%
  );
  color: #313131;
  text-shadow: 0px 0px 1px #131313;
  padding: 10vh 10vw 30vw;
}
.left {
  min-height: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  background-image: linear-gradient(
    170deg,
    rgba(19, 12, 39, 0.8) 70%,
    rgba(228, 228, 228, 0.1) 70.2%
  );
  text-shadow: 0px 0px 1px #eeeeee;
  padding-bottom: 10vw;
} */
