.experiences {
  overflow: auto;
  width: 100vw;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior-block: contain;
}
.experiences::-webkit-scrollbar {
  display: none;
}
.experience {
  flex-shrink: 0;
  width: 35vw;
  height: 35vw;
  border: 1px black solid;
}
.expDescr {
  text-align: center;
}
.logoContainer {
  width: 50%;
}
.logo {
  width: 100%;
}
