<div
  [class]="
    i % 2 === 0
      ? 'experienceRightBottom paddingLarge'
      : 'experienceLeftTop paddingLarge'
  "
  *ngFor="let e of experiences; let i = index"
>
  <div class="rowContainer">
    <div class="logoContainer rowContainer">
      <img class="logo marginSmall" [src]="e.logoUrl" alt="logo" />
    </div>
    <div class="expDescr columnContainer marginSmall justifyCenter">
      <p>{{ e.startDate }}</p>
      <p>{{ e.endDate }}</p>
      <p>{{ e.description }}</p>
    </div>
  </div>
</div>
