.pink {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(81, 59, 82, 0.3),
    80%,
    rgba(19, 12, 39, 0.8)
  );
  border-radius: 0 0 40px 40px;
}
.blue {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(61, 60, 88, 0.3),
    80%,
    rgba(8, 8, 34, 0.8)
  );
  border-radius: 0 0 40px 40px;
}
.shadowSmall {
  box-shadow: 0px 0px 8px 1px #363636;
}
.shadowLarge {
  box-shadow: 0px 0px 15px 5px #363636;
}
.dropDown {
  align-self: center;
}
